.tile {
	box-shadow: 0px 4px 5px #969494;
}

#progressTile {
	float: left;
	width: 380px;
	height: 225px;
	background-color: white;
	border-radius: 5px;
	margin-left: 5px;
	margin-top: 5px;
	font-weight: 500;
	font-size: 12px;
}

.progress-ring__circle {
  stroke-dasharray: 10 20;
  transition: 1.2s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%
}

.bottom__circle {
	transform: rotate(-90deg);
  	transform-origin: 50% 50%
}

.timeFrame {
	display: inline-block;
	margin-left: 2%;
	padding: 2%;
	border-radius: 5px;
	border: none;
	margin-top: 1%;
	font-weight: 500;
	font-size: 11px;
	background-color: white;
	color: black;
	transition: all 0.4s ease;
}

.timeFrame:hover {
	background-color: #777AE5;
	box-shadow: 1px 1px 2px #969494;
	color: white;
	cursor: pointer;
}

.timeFrame.active {
	background-color: #777AE5;
	color: white;
}

#daily {
	margin-left: 27%;
}

#chartTile {
	float: left;
	width: 380px;
	height: 271px;
	background-color: white;
	border-radius: 5px;
	margin-left: 5px;
	margin-top: 54px;
}

#chartTile p {
	color: #545454;
	font-size: 12px;
	font-weight: 500;
	display: inline-block;
	margin-left: 10%;
	margin-right: 100%;
	margin-top: 5%;
}

#chartTile h2 {
	color: black;
	font-weight: 550;
	font-size: 38px;
	display: inline-block;
	margin-left: 10%;
	margin-top: 1%;
}

#chartTile svg {
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 7px;
}

#orderTile {
	float: right;
	width: 405px;
	height: 550px;
	background-color: white;
	border-radius: 5px;
	margin-top: 5px;
	margin-right: 5px;
}

.tabButtons {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	border: none;
	background-color: white;
	border-radius: 5px;
	padding: 2%;
	cursor: pointer;
	transition: all 0.4s ease;
}

.tabButtons.active {
	background-color: #777AE5;
	color: white;
}

.tabButtons:hover {
	background-color: #777AE5;
	color: white;
}

#calendarTab {
	margin-left: 3%;
}

#orderTile select {
	border: 1px solid black;
	border-radius: 5px;
	margin-left: 20px;
	width: 365px;
	height: 48px;
	font-size: 15px;
}

#orderTile select, #orderTile input {
	transition: all 0.4s ease;
}

#orderTile select.empty {
	border: 1px solid #D9D9D9;
	color: gray;
}

#openPositions{
	text-transform: uppercase;
}

#strategyLabel {
	display: flex;
	margin-left: 20px;
	margin-top: 25px;
	font-size: 15px;
}

#strategy {
	margin-top: 3%;
}

#tickerDiv, #amountDiv {
	display: inline-block;
}

#amountDiv {
	margin-left: 20px;
}

#tickerLabel, #amountLabel {
	margin-left: 20px;
	margin-top: 25px;
	font-size: 15px;
	display: flex;
}

#ticker, #amount {
	margin-top: 3%;
	margin-left: 20px;
	width: 153px;
	height: 48px;
	border-radius: 5px;
	border: 1px solid black;
	font-size: 15px;
	padding-left: 5px;
	text-transform: uppercase;
}

#ticker.empty, #amount.empty {
	border: 1px solid #D9D9D9;
	color: gray;
}

#entry, #exit {
	border-radius: 5px;
	border: 1px solid black;
	margin-top: 3%;
	height: 48px;
	font-size: 15px;
	padding-left: 5px;
	width: 153px;
}

#entry.empty, #exit.empty {
	border: 1px solid #D9D9D9;
	color: gray;
}

#entryDiv {
	width: 182.5px;
	display: inline-block;
	margin-left: 20px;
	margin-top: 25px;
	margin-right: 20px;
}

#exitDiv {
	width: 153px;
	display: inline-block;
}

#submit, #clear {
	display: flex;
	margin-left: 20px;
	margin-top: 20px;
	width: 365px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid white;
	cursor: pointer;
	padding-top: 1.3%;
	padding-left: 37%;
	font-size: 15px;
	background-color: rgb(238, 238, 238);
	transition: all 0.4s ease;
}

#submit:hover {
	background-color: #777AE5;
	color: white;
}

#clear:hover {
	background-color: #FF0F0F;
	color: white;
}