.tile {
	box-shadow: 0px 4px 5px #969494;
}

#progressTile {
	float: left;
	width: 380px;
	height: 225px;
	background-color: white;
	border-radius: 5px;
	margin-left: 5px;
	margin-top: 5px;
	font-weight: 500;
	font-size: 12px;
}

.progress-ring__circle {
  stroke-dasharray: 10 20;
  transition: 1.2s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%
}

.bottom__circle {
	transform: rotate(-90deg);
  	transform-origin: 50% 50%
}

.timeFrame {
	display: inline-block;
	margin-left: 2%;
	padding: 2%;
	border-radius: 5px;
	border: none;
	margin-top: 1%;
	font-weight: 500;
	font-size: 11px;
	background-color: white;
	color: black;
	transition: all 0.4s ease;
}

.timeFrame:hover {
	background-color: #777AE5;
	box-shadow: 1px 1px 2px #969494;
	color: white;
	cursor: pointer;
}

.timeFrame.active {
	background-color: #777AE5;
	color: white;
}

#daily {
	margin-left: 27%;
}

#chartTile {
	float: left;
	width: 380px;
	height: 271px;
	background-color: white;
	border-radius: 5px;
	margin-left: 5px;
	margin-top: 54px;	
}

#chartTile p {
	color: #545454;
	font-size: 12px;
	font-weight: 500;
	display: inline-block;
	margin-left: 10%;
	margin-right: 100%;
	margin-top: 5%;
}

#chartTile h2 {
	color: black;
	font-weight: 550;
	font-size: 38px;
	display: inline-block;
	margin-left: 10%;
	margin-top: 1%;
}

#chartTile svg {
	margin-left: 40px;
	margin-right: 40px;
}

#orderTile {
	float: right;
	width: 405px;
	height: 550px;
	background-color: white;
	border-radius: 5px;
	margin-top: 5px;
	margin-right: 5px;
}